.layout{
    font-family: "Fira Sans",sans-serif;
    background-color: palegreen;
}

.layout-top{
  border-radius: 4.886318683624268px;
  background-color: var(--navBackgroundColor); 
  height: 120px;
  box-sizing: border-box;
}

.layout-body{
  background-color: var(--backgroundColor);
  height: 570px;
   
}
.navbar{
  background: var(--navBackgroundColor);
}
.navbar ul{
  margin: 0;
  padding: 0;
  display: flex;

}
.navbar li{

  list-style-type: none;
  list-style-type: none;
  margin: 2vh 6vw;
  font-size: 2vh;
}

.title {
  background: linear-gradient(90deg, #2241b4, #924410);
  /* background: -webkit-linear-gradient(333.6deg, #2042B8, 100%, #FF6600 100%); */
  /* background: linear-gradient(333.6deg, #2042B8, 53.9%, #c06224 157.96%); */
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
   
  position: absolute;
  width: 140px;
  font-family: Fira Sans;
  font-weight: bold;
  font-size: 18px;
}
  
  .top-connection-lg {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background: linear-gradient(333.6deg, #2042B8, 53.9%, #FF6600 157.96%);
    padding:2px;
    margin-bottom: 20px;
  }

  .top-connection-lg > div.not-connected {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    background-color: var(--primaryColor);
    border-radius: 30px;
    cursor: pointer;
  }
  .top-connection-lg > div.connected {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    column-gap: 10px;
    background-color: var(--primaryColor);
    border-radius: 30px;
    padding:10px;
    font-size: 12px;
    cursor: pointer;
  }

  .top-connection-lg i.fa-circle {
    color:#34D530;
    font-size: 8px;
  }

  .connect-wallet-text{
    
    font-family: Fira Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 7px;

    
    
    color: #080808;

  }
